* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navigation */
.navi {
    background-color: #9CE1FD !important;
    position: relative !important;
    z-index: 2 !important;
}

/* section landing */
#landing {
    background-color: #F6D1F6;
    height: 80vh;
    padding: 10px;
    width: 100%;
    position: relative;
}

.landing_txt {
    width: 30rem;
    font-size: 30px;
    text-align: center;
}

#landing .container {
    padding: 10px;
    top: 13%;
    position: absolute;
    left: 7%;
}

.baloon {
    position: absolute; /* Add this line */
    left: -3%;
    transform: scale(0.75);
}

.baloon2 {
    position: absolute; /* Add this line */
    top: 65%;
    left: 54%;
    transform: scale(0.55);
}

.cloud1 {
    position: absolute; /* Add this line */
    left: -5%;
    top: -25%;
    transform: scale(0.36);
}
.cloud2 {
    position: absolute; /* Add this line */
    top: 50%;
    left: 20%;
    transform: scale(0.25);
}
.cloud3 {
    position: absolute; /* Add this line */
    top: 80%;
    left: 60%;
    transform: scale(0.45);
}
.cloud4 {
    position: absolute; /* Add this line */
    right: 0%;
    bottom: 0%;
    transform: scale(0.86);
}
.cloud5 {
    position: absolute; /* Add this line */
    top: 66%;
    left: 1%;
    transform: scale(0.67);
}
.cloud6 {
    position: absolute; /* Add this line */
    top: -35%;
    left: 40%;
    transform: scale(0.55);
}

#benefits {
    background-color: #F6D1F6;
    padding: 30px;
}

/* services */

#services {
    height: 100vh;
}

#services .image {
    margin-top: 50px !important; 
    padding-left: 100px !important;
}

#enrollment {
    background-color: #F6D1F6;
    display: grid;
}







.landing_img img,
.baloon,
.baloon2,
.cloud1,
.cloud2,
.cloud3,
.cloud4,
.cloud5,
.cloud6 {
    max-width: 100%;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}






























@media (max-width: 992px) {
    .landing_txt {
        font-size: 24px;
        width: 70%;
    }
    .baloon {
        transform: scale(0.4);
    }
    .baloon2 {
        transform: scale(0.3);
    }
    .cloud1 {
        transform: scale(0.3);
    }
    .cloud2 {
        transform: scale(0.2);
    }
    .cloud3 {
        transform: scale(0.4);
    }
    .cloud4 {
        transform: scale(0.7);
    }
    .cloud5 {
        transform: scale(0.5);
    }
    .cloud6 {
        transform: scale(0.4);
    }
}

@media (max-width: 768px) {
    #landing {
        height: 60vh;
    }
    .landing_txt {
        font-size: 20px;
    }
    .landing_img img {
        transform: scale(0.5);
    }
    .baloon {
        transform: scale(0.3);
    }
    .baloon2 {
        display: none; /* Hide or simplify complex elements */
    }
    .cloud1,
    .cloud2,
    .cloud3,
    .cloud4,
    .cloud5,
    .cloud6 {
        display: none; /* Hide clouds on smaller screens or simplify if necessary */
    }
}

/* @media (max-width: 479px) {
    #landing .container {
        transform: translateX(-50%);
    }
    .landing_img {
        width: 90%;
        margin: 0 auto;
    }
    .landing_txt {
        font-size: 10px;
    }
    .landing_img img {
        transform: scale(0.30);
    }
    .baloon {
        transform: scale(0.2);
    }
} */

@media (max-width: 479px) {
    #landing {
        height: 40vh;
    }
    #landing .container {
        left: 0%;
    }
    .landing_img {
        width: 90%;
        margin: 0 auto;
    }
    .landing_img img {
        transform: scale(1);
    }
    .landing_txt {
        font-size: 16px;
        width: 90%;
        margin: 0 auto;
    }
    .baloon {
        display: none;
    }
    .baloon2 {
        display: none;
    }
    .cloud1,
    .cloud2,
    .cloud3,
    .cloud4,
    .cloud5,
    .cloud6 {
        display: none;
    }

}
